.float-left-child {
  float: left
}


.inline-block-child {
  display: inline-block;
}


.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
}


.inline-flex-parent {
  display: inline-flex;
}


/* base css */

.card-block{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  border-radius: 5px;

}

.card-block:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
.description-block {
  padding: 3rem;
}
h3 {
  margin: 1.5rem 0 .25em;
  clear: both;
}
.left-heading{
	padding: 3rem;
	float:left;
}
.right-heading{
	padding: 3rem;
	float:right;
}
.parent {
  /*background: mediumpurple;*/
  padding: 1rem
}
.child {
/*   border: 1px solid indigo; */
  padding: 1rem
}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /*transition: 0.3s;*/
  width: 90%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}